.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  height: 30px;
  padding: 10px;
  background-color: #ddd;
  border-radius: 6px;
  margin: 5px 0;
}

.count {
  width: 100%;
  text-align: center;
  align-self: center;
}

.deletedCounter {
  background-color: brown;
  margin-left: 5px;
}